<config>
    <key name="app-1024.rsa" method="rsa" size="1024" path="example/keys/" passphrase=""/>
    <endpoints>
        <endpoint type="login" path="/login" method="POST"/>
        <endpoint type="secured" path="/test" method="GET"/>
        <endpoint type="secured" path="/blubb/dorn" method="GET"/>
        <route path="/foo"/>
    </endpoints>
    <token expiration="30" refreshable="true"/>
</config>